@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
}
}
@font-face{
    font-family: 'heading';
    src: url('/fonts/AuralyessFreeTrial-RpMrE.ttf') format('truetype');
}
@font-face {
    font-family: 'sill';
    src:url('/fonts/Silhouette-jEnj7.ttf') format('truetype');    
}
@font-face {
    font-family: 'nat';
    src:url('/fonts/NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
}
body
{
    background-color:#F2E3DB;
}
.shaeff
{
    box-shadow: 5px 4px 10px 1px black;
}
.card:hover .crdtext
{
    margin-top: 15%;
    background-color: rgba(255, 102, 14, 0.8);
    padding: auto;
    @apply max-h-96;
    animation: reveal 1s ease-in-out forwards;
}
.content
{
    display:none;
    opacity: 0;
    overflow: hidden;
    @apply h-20;
}
.card:hover .content
{
    display: grid;
    backdrop-filter: blur(15px);
    animation: reveal 1s ease-in forwards;
    @apply w-80 h-32;
}
.card:hover .crdname
{
    font-size: larger;
    padding-bottom: 20px;
}
@keyframes reveal {
    0%
    {
        opacity: 0.5;
        height: 0%;
    }
    50%
    {
        height: 12%;
    }
    100%
    {
        opacity: 1;
    }
}