@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
      .no-scrollbar {
          -ms-overflow-style: none;  
          scrollbar-width: none;
}
}
@font-face{
    font-family: 'heading';
    src: url('/fonts/AuralyessFreeTrial-RpMrE.ttf') format('truetype');
}
@font-face {
    font-family: 'sill';
    src:url('/fonts/Silhouette-jEnj7.ttf') format('truetype');    
}
@font-face {
    font-family: 'nat';
    src:url('/fonts/NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
}
@font-face {
    font-family: 'tego';
    src:url('/fonts/NewTegomin-Regular.ttf') format('truetype');
}
body
{
    background-color:#F2E3DB;
    overflow-x: hidden;
}
.shaeff
{
    box-shadow: 5px 4px 10px 1px black;
}
.card:hover .crdtext
{
    margin-top: 15%;
    background-color: rgba(255, 102, 14, 0.8);
    padding: auto;
    @apply max-h-96;
    animation: reveal 0.4s ease-in-out forwards;
}
.content
{
    display:none;
    opacity: 0;
    overflow: hidden;
    @apply h-20;
}
.card:hover .content
{
    display: grid;
    backdrop-filter: blur(15px);
    animation: reveal 1s ease-in forwards;
    @apply w-80 h-32;
}
.card:hover .crdname
{
    font-size: larger;
    padding-bottom: 20px;
}
@keyframes reveal {
    0%
    {
        opacity: 0.5;
        height: 0%;
    }
    50%
    {
        height: 12%;
    }
    100%
    {
        opacity: 1;
    }
}
.field
{
    @apply bg-transparent border-b-2 border-maron w-full m-4 focus:outline-none
}
.btn
{
    @apply w-fit p-2 text-xl font-extrabold bg-white text-orange border-2 border-orange rounded-xl hover:bg-orange hover:text-white
}
.lrbtn
{
    @apply h-10 w-5/6 text-xl font-extrabold bg-maron text-white border-2 border-maron hover:bg-white hover:text-maron
}
.error-message
{
    color: red;
    margin:0px;
    padding: 0px;
}
.cambtn
{
    @apply flex items-center rounded-xl border-2 border-orange px-10 font-extrabold text-orange gap-4 text-lg
}
.cambtn:hover #sv
{
    @apply fill-white
}

.cambtn1
{
    @apply flex items-center rounded-xl border-2 border-orange px-10 font-extrabold text-white gap-4 text-lg bg-orange
}
.cambtn1:hover #sv
{
    @apply fill-orange
}
.pgheading
{
    @apply font-heading text-maron text-6xl
}
.recCard
{
    @apply grid bg-white m-5 rounded-xl  h-[30rem] max-w-80 border-2 border-maron no-scrollbar relative p-2 overflow-hidden
}
.recCard:hover
{
    @apply -translate-y-2 shadow-lg shadow-[#0000005e]
}
.recCard img {
    transition: transform 0.2s ease-in; 
  }

  .recCard:hover img {
    transform: scale(1.1);
  }